<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-text color="medium" class="ion-padding">
      Bienvenido de nuevo
    </ion-text>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!email || !password">
      Sign In
    </ion-button>

    <div class="register-link ion-text-center ion-margin-top">
      <a (click)="goToRegister()">Create an account</a>
    </div>
  </form>
</ion-content>
